__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

.venv/
venv/

.idea/
*.iml

.env
backend/.env

*.log
db.sqlite3
backend/db.sqlite3
media/
staticfiles/

.DS_Store
Thumbs.db

ml_assets/models/*.joblib
ml_assets/datasets/
backups/

